<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
    
 <connectionStrings>
  <add name="StuConnectionString" connectionString="Data Source=RAMONA-LIU\SQLEXPRESS;Initial Catalog=Stu;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="StuConnectionString2" connectionString="Data Source=RAMONA-LIU\SQLEXPRESS;Initial Catalog=Stu;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="StuConnectionString3" connectionString="Data Source=RAMONA-LIU\SQLEXPRESS;Initial Catalog=Stu;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>     
      
       
        
  <system.web>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">

      <providers>

        <add name="XmlSiteMapProvider"

            description="SiteMap provider which reads in .sitemap XML files."

            type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"

            siteMapFile="Web.sitemap"/>

      </providers>

    </siteMap>



    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>